main{
    background-color: #B19D86;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    }
    
    
    
  main{
    background-color: #B19D86;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    }
        
    
    footer{
    background-color: #422D1A;
    text-align: center;
    padding: 25px;
    height: 400px;
    
    }
    
    footer i {
    color: white;
    font-size: 50px;
    padding: 10px;
    }
  /*Hero*/
  
  
  .hero {
    width: 100%;
    height: 70vh;
    background: url("../images/hero.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .h2-sub {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #3bcc75;
    font-weight: 600;
    line-height: .4;
  }
  
  .fil {
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
  }
  
  .circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
  }
  
  .he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
  }
  
  .btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
  }
  
  .cta-btn {
    font-size: 1.1rem;
    background-color: #ffc845;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
  }
  .cta-btn:hover,
  .cta-btn:focus {
    color: #fff;
    background-color: #3bcc75;
  }
  
  
  .global {
    text-align: center;
    margin-top: 3.9rem;
  }
  
  .dis-sto .global {
    margin-top: 6.9rem;
  }
  
  .global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
  }
  
  .hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
  }
  
  .global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
  }
  
  .res-info {
    text-align: center;
  }
  
  .res-des {
    margin-bottom: 3rem;
  }
  
  .res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
  }
  
  
  
  
  .taste {
    background: url("../images/taste.jpg") center no-repeat;
    background-size: cover;
  }
  
  .bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
  }
  
  